.form-control {
    font-size: 25px;
}

.navbar-brand {
    font-size: 30px;
}

.bi-cloud-fog2 {
    position: relative;
    top: 4px;
}

.feels-like {
    border-radius: 0 0 0 5px;
}

.humidity {
    border-radius: 0 0 5px 0;
    border-left: 0 !important;
}

.icon {
    text-align: right;
    position: relative;
    left: 15px;
}