.form-control {
    font-size: 25px;
}

.navbar-brand {
    font-size: 30px;
}

.bi-cloud-fog2 {
    position: relative;
    top: 4px;
}

.feels-like {
    border-radius: 0 0 0 5px;
}

.humidity {
    border-radius: 0 0 5px 0;
    border-left: 0 !important;
}

.icon {
    text-align: right;
    position: relative;
    left: 15px;
}

.weather-img {
    margin: 0;
    padding: 0;
    transform: scale(1.5);
    filter: drop-shadow(3px 3px 4px black);
}

.location {
    position: relative;
}

.location-icon {
    position: absolute;
    left: -25px;
}

.temp {
    font-size: 60px;
}

.desc {
    text-transform: capitalize;
}